<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Congratulations!!!</title>
	</head>

	<body>
		<p>Желаю тебе быстрее выздороветь (здоровья),<br> что бы все тебя слушались,<br> чтоб когда ты шла в магазин, у тебя было бы столько денег, сколько тебе нужно,<br>Чтоб Федя почаще мыл посуду, а Марина сразу делала уроки.<br><br>Желаю получить побольше таких классных поздравлений,<br>Да и вообще, провести этот день так, что бы он вспоминался самыми лучшими воспоминаниями!</p>
	</body>
</html>
